
.DS_Store
*.swp
*.log
*.log
*.pdf
*.log
*.gz
Exercise2/solution-template-exercisesheets-main/Sheet 2.log
*.log
*.gz
Exercise2/solution-template-exercisesheets-main/Sheet 2.pdf
Exercise3/solution-template-exercisesheets-main/Sheet 3.pdf
Exercise3/solution-template-exercisesheets-main/Sheet 3.synctex.gz
