
.DS_Store
*.swp
*.log
*.log
*.pdf
*.log
*.gz
Exercise2/solution-template-exercisesheets-main/Sheet 2.log
*.log
*.gz
Exercise2/solution-template-exercisesheets-main/Sheet 2.pdf
Exercise3/solution-template-exercisesheets-main/Sheet 3.pdf
Exercise3/solution-template-exercisesheets-main/Sheet 3.synctex.gz
Exercise5/Sheet5.fdb_latexmk
Exercise5/Sheet5.fls
Exercise5/Sheet5.out
Exercise5/Sheet5.aux
Exercise5/Sheet5.aux
*.pdf
*.aux
